@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", monospace;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #080808;
}

nav {
    background-color: #8E24AA;
    color: white;
    width: 30vw;
    padding: 1%;
    margin: auto;
    border-radius: 20px;
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #c066da;
    box-shadow: 4px 4px 10px rgba(232, 143, 224, 0.551);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

nav .current {
    text-decoration: overline;
}

nav .other:hover {
    text-decoration: overline;
}

.mainContainer {
    display: flex;
}

.mainContainer {
    margin: 25px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mainContainer div {
    width: 35%;
    height: 80%;
}

.left {
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.left h1 {
    margin-bottom: 28px;
    font-size: 44px;
    font-weight: 900;
}

.left p {
    margin-bottom: 30px;
    color: #9C9C9C;
    font-size: 14px;
}

.left>button {
    background-color: #8E24AA;
    padding: 21px 64px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 325px;
    height: 64px;
    border: 2px solid #c066da;
    box-shadow: 4px 4px 10px rgba(232, 143, 224, 0.551);
    border-radius: 4px;
}

.left .social-icons {
    padding: 0%;
    margin-top: 10%;
    height: 20%;
    width: 100%;
    display: flex;
    gap: 20px;
}

.left .social-icons a img {
    width: 40px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    border-radius: 100%;
    width: 380px;
}



/* ------------------------------------------------------------------- */
.myServices {
    padding: 3% 8%;
    background-color: white;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.myServices .title {
    color: #1B1B1B;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5%;
}

.myServices .items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 50%;
    width: 100%;
}

.myServices .item {
    background-color: #1B1B1B;
    width: 20%;
    height: 80%;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.myServices .item .pic img {
    width: 150px;
    border-radius: 10px;
}

/* ------------------------------------------------------ */
.mySkills {
    padding: 3% 2%;
    height: 90vh;
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mySkills .title {
    color: white;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5%;
}

.mySkills .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
}

.mySkills .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.mySkills .items .item .pic img {
    width: 150px;
    border-radius: 10px;
}

/* ------------------------------------------------------------------------------------ */
.Certi {

    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 8%;
}

.Certi h3 {
    font-size: 44px;
    font-weight: 700;
}

.Certi .cards {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

.Certi .card {
    border-radius: 20px;
    background-color: #1B1B1B;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.Certi .card .pic img {
    width: 320px;
    border-radius: 20px;
}

.Certi .title {
    color: white;
    font-size: 20px;
}

.Certi .text {
    color: #9C9C9C;
    font-size: 14px;
    text-align: center;
}



/* -------------------------------------------------------------------------------- */
footer {
    background-color: white;
    width: 100vw;
    box-shadow: 4px 4px 10px rgba(232, 143, 224, 0.551);
}

footer .foot {
    background-color: #8E24AA;
    color: white;
    width: 30%;
    padding: 1%;
    margin: auto;
    border: 2px solid #c066da;
    border-radius: 20px;
    text-align: center;
}

@media screen and (max-width:1100px) {
    .left h1 {
        font-size: 36px;
        font-weight: 700;
    }

    .left p {
        margin-bottom: 20px;
        color: #9C9C9C;
        font-size: 12px;
    }

    .left>button {

        font-size: 14px;
        font-weight: bold;
        width: 300px;
        height: 60px;
        border: 2px solid #c066da;
        border-radius: 4px;
    }

    .left .social-icons a img {
        width: 30px;
    }

    .right img {
        border-radius: 100%;
        width: 300px;
    }

    /* --------------------------------------------------------- */
    .myServices .title {
        font-size: 30px;
        font-weight: 600;
    }

    .myServices .items {
        gap: 20px;
    }

    .myServices .items .text {
        text-align: center;
        font-size: 12px;
    }

    .myServices .item .pic img {
        width: 125px;
        border-radius: 10px;
    }

    /* --------------------------------------------------------- */
    .Certi h3 {
        font-size: 36px;
        font-weight: 600;
    }

    .Certi .card {
        padding-left: 40px;
        padding-right: 40px;
    }

    .Certi .card .pic img {
        width: 225px;
        border-radius: 15px;
    }

    .Certi .title {
        color: white;
        font-size: 20px;
    }

    .Certi .text {
        font-size: 12px;
    }

    footer .foot {
        width: 50%;
        padding: 1%;
    }
}

@media screen and (max-width: 920px) {
    nav {
        width: 50vw;
        padding: 2%;
    }


    /* ------------------------------------- */
    .mainContainer {
        padding: 3%;
        height: auto;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .mainContainer div {
        width: 90%;
    }

    .left {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .left h1 {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 800;
        text-align: center;
    }

    .left p {
        text-align: center;
        margin-bottom: 20px;
        font-size: 12px;
    }


    .left .social-icons {
        padding: 0%;
        margin-top: 5%;
        height: 15%;
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .left .social-icons a img {
        width: 30px;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right img {
        margin-top: 40px;
        border-radius: 100%;
        width: 250px;
    }

    /* --------------------------------- */
    .myServices .title {
        font-size: 28px;
        font-weight: 700;
    }

    .myServices .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        justify-items: center;
    }

    .myServices .item {
        padding: 1%;
        width: 80%;
        height: 80%;
        justify-content: center;

    }

    .myServices .item .pic img {
        width: 150px;
    }

    /* -------------------------------------- */

    .mySkills .title {
        font-size: 28px;
    }

    .mySkills .items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    .mySkills .items .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
    }

    .mySkills .items .item .pic img {
        width: 100px;
        border-radius: 6px;
    }

    /* -------------------- */
    .Certi {

        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-top: 8%;
    }

    .Certi h3 {
        font-size: 28px;
    }

    .Certi .cards {
        height: 90%;
        width: 100%;
        display: grid;
        justify-items: center;
    }

    .Certi .card {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .Certi .card .pic img {
        width: 200px;
        border-radius: 5px;
    }

    .Certi .title {
        color: white;
        font-size: 16px;
    }

    .Certi .text {
        color: #9C9C9C;
        font-size: 10px;
        text-align: center;
    }

    footer .foot {
        width: 70%;
    }
}

@media screen and (max-width: 580px) {
    nav {
        width: 90vw;
    }

    /* ------------------------------------------------- */
    .mainContainer {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .mainContainer div {
        width: 100%;

    }


    .right img {
        width: 300px;
    }

    /* ----------------------------------------------- */

    .myServices .title {
        font-size: 28px;
        font-weight: 700;
    }

    .myServices .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        justify-items: center;
    }

    .myServices .item {
        width: 100%;
        height: 60%;
    }

    .myServices .item .pic img {
        width: 120px;
    }

    /* ----------- */

    .mySkills .title {
        font-size: 28px;
    }

    .mySkills .items {
        gap: 10px;
    }


    .mySkills .items .item .pic img {
        width: 70px;
        border-radius: 3px;
    }

    /* --------- */
    .Certi {
        padding-top: 10%;
    }

    .Certi .card {
        width: 60%;
    }

    .Certi .card .pic img {
        width: 180px;
        border-radius: 3px;
    }

    footer .foot {
        width: 90%;
    }
}